
.border-primary {
    border: 1px solid #fd7e14 !important;
}

button {
    background-color: #fd7e14 !important;
    border-color: #fd7e14 !important;
}

button:hover {
    background-color: #c26111 !important;
}

#register{
    background-color: white !important;
    border: 1px solid #fd7e14;
    color: #fd7e14;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

i {
    font-size: 1.5em;
    padding-left: 1.5em;
}